body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 20px;
}

header {
  background-color: rgb(35, 186, 85);
    
}

.r{
    margin: 10px;
}

nav {
    
}

.nav-link {
    text-decoration: none;
}

h1 {

}

p {
    font-size: 20px;
}

.info {
  display: flex;  
  border-bottom: 15px solid rgb(67, 193, 67);
}

article {
   
}

.article-but {
    
}

footer {
   
}

footer a {
    
}

footer p {
}
.pizzalogo{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: black;
    
}

.animated-link {
  color: #2575fc; 
  text-decoration: none; 
  font-size: 1.2rem;
  padding: 10px 20px;
  display: inline-block; 
  border-radius: 10px;
  transition: all 0.3s ease-in-out; 
  background-color: rgb(114, 255, 114);
  text-align: center;
  
}


.animated-link:hover {
  color: rgb(248, 0, 0); 
  background-color: #2575fc;
  transform: scale(1.1); 
  box-shadow: 0 18px 18px rgba(0, 0, 0, 0.2); 
}
.rainbow{
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  line-height: 40px;
}
.kaif{
  margin:1px;
  border-radius: 5px grey;
  padding: 4px;
  color: purple;
}
.style{
  color: blue;
}
